<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>bone</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/style1.css" />
	</head>
	<body>
	<div class="warp">
		<!-- <header>
		</header> -->
		<section>
			<div class="nav">
				<ul>
                    {if condition="empty($cat)"}
					{else /}
							{foreach name='cat' item='value'}
								<li>
									<a href="{:url('index/mesList')}?c_id={$value.c_id}" data-ajax="false">{$value.c_name}</a>
								</li>
							{/foreach}
					{/if}
				</ul>
			</div>
			{if condition="!empty($catlist)"}
			{foreach name='catlist' item='value'}
			<div class="main1">
				<dl>
					<dt><a href="{$value.url}" data-ajax="false"><img src="__PUBLIC__/img/20161229/{$value.img}"/></a></dt>
					<dd>
						<h1><a href="{$value.url}" data-ajax="false">{$value.title}</a></h1>
						<h2>1234人阅读</h2>
						<h3>3453人点赞</h3></dd>
				</dl>
			</div>
			{/foreach}
			{/if}
		</section>
		<!-- <footer>
		</footer> -->
	</div>
	</body>
</html>
